<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Dontwarrior</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<meta name="color-scheme" content="light only" />
		<meta name="description" content="draft" />
		<meta property="og:site_name" content="Dontwarrior" />
		<meta property="og:title" content="Dontwarrior" />
		<meta property="og:type" content="website" />
		<meta property="og:description" content="draft" />
		<link href="https://fonts.googleapis.com/css2?display=swap&family=Oswald:ital,wght@0,400;1,400&family=Open+Sans:ital,wght@0,300;1,300" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="static/css/main.css" />
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">
		<div id="wrapper">
			<div id="main">
				<div class="inner">
					<p id="text14" class="style2">TECH | MUSIC | LIVE</p>
					<h1 id="text02" class="style1">DONTWARRIOR</h1>
					<p id="text01" class="style3">DJ | Music Producer | Techhead</p>
					<ul id="buttons01" class="style1 buttons">
						<li>
							<a href="/calculator" class="button n01" role="button"><svg aria-labelledby="buttons01-icon-1-title"><title id="buttons01-icon-1-title">Arrow Right (Light)</title><use xlink:href="/static/icons.svg#arrow-right-light"></use></svg><span class="label">Calculator</span></a>
						</li>
					</ul>
					<ul id="icons01" class="style1 icons">
						<li>
							<a class="n01" href="https://www.facebook.com/dontwarrior/" role="button">
								<svg aria-labelledby="icons01-icon-1-title"><title id="icons01-icon-1-title">Facebook</title><use xlink:href="static/icons.svg#facebook"></use></svg>
								<span class="label">Facebook</span>
							</a>
						</li><li>
							<a class="n02" href="https://www.youtube.com/@dontwarrior" role="button">
								<svg aria-labelledby="icons01-icon-2-title"><title id="icons01-icon-2-title">LinkedIn</title><use xlink:href="static/icons.svg#youtube"></use></svg>
								<span class="label">LinkedIn</span>
							</a>
						</li><li>
							<a class="n03" href="https://github.com/dontwarrior" role="button">
								<svg aria-labelledby="icons01-icon-3-title"><title id="icons01-icon-3-title">GitHub</title><use xlink:href="static/icons.svg#github"></use></svg>
								<span class="label">GitHub</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<script src="static/js/main.js"></script>
	</body>
</html>